mirror_path="elpa-mirror"
mirror_host="github.com"
mirror_owner="d12frosted"
mirror_repo="elpa-mirror"
access_login="$GITHUB_USER"
access_token="$GITHUB_ACCESS_TOKEN"
commit_name="Golem"
commit_email="golem@d12frosted.io"
elpa_clone_path="elpa-clone"

function git_config_hook {
  git config commit.gpgsign false
}
